app-formulario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 50vh;

    
    border-radius: 30px;

    background-color: #ebebeb;
}