<div class="container">
    <form (ngSubmit)="guardar(forma)" #forma="ngForm">

        <div class="inputContainer">
            <label for="fname" class="labelInput">Nombre</label>
            <input type="text" id="fname" class="textBox" name="nombre" autocomplete="off"
                [(ngModel)]="persona.nombre" required minlength="3" #nombre="ngModel"
                [class.is-invalid]="nombre.invalid && nombre.touched" pattern="^[a-zA-zñÑ\s]+$">
            <small class="emergentText" *ngIf="nombre.invalid && nombre.touched">
                Ingresa más de 3 letras
            </small>
        </div>

        <div class="inputContainer">
            <label for="fdireccion" class="labelInput">Dirección</label>
            <input type="text" id="fdireccion" class="textBox" name="direccion" autocomplete="off"
                [(ngModel)]="persona.direccion" required minlength="6" #direccion="ngModel"
                [class.is-invalid]="direccion.invalid && direccion.touched" pattern="^[a-zA-ZñÑ. \s]+$">
            <small class="emergentText" *ngIf="direccion.invalid && direccion.touched">
                Ingresa más de 6 letras
            </small>
        </div>

        <div class="checkContainer">
            <label class="checkAnimation">
                <input type="checkbox" id="condicion" name="aceptar" value="condicion" ngModel
                required>
                <span class="checkbox"></span>
            </label>
            <label for="condicion" class="labelCheckbox">Acepto los terminos y condiciones</label>
        </div>

        <div class="buttonContainer">
            <button type="submit" class="botonGuardar" [disabled]="!forma.valid">Guardar</button>
        </div>
    </form>
</div>