@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 30px;
    background: #ebebeb;
    box-shadow: -25px 25px 50px #c8c8c8,
                25px -25px 50px #ffffff;
}

form {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 90%;
    height: 90%;
}

.inputContainer, .checkContainer, .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    text-align: center;
    font-size: 30px;
    font-family: 'Handlee', cursive;
    color: #4d4d4d;
}

.inputContainer
{
    margin-bottom: 25px;
}

.checkContainer {
    flex-shrink: 2;
}

.labelInput
{
    letter-spacing: 1px;
    transition: all 0.3s;
}
.labelInput:hover
{
    transform: scale(1.05);
}

.textBox {
    width: 80%;
    height: 5vh;
    border: none;

    text-align: center;
    font-size: 25px;
    font-family: 'Handlee', cursive;
    
    color: #4d4d4d;
    border-radius: 10px;
    box-shadow: inset -5px 5px 10px #d9d9d9,
                inset 5px -5px 10px #ffffff;
    
    transition: all 0.3s ease-in-out;
}
.textBox:valid {
    background-color: #ebebeb;
    color: #4d4d4d;

    transform: scale(1.05);

    box-shadow: -5px 5px 10px #d9d9d9,
                5px -5px 10px #ffffff;
}
.textBox:placeholder-shown {
    color: #d9d9d9;
    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Handlee', cursive;
}
.textBox:focus {
    outline: none;
}
.textBox:focus::placeholder {
    color: transparent;
}
.emergentText
{
    color: #4d4d4d;
    text-align: center;
    font-size: 18px;
    font-family: 'Handlee', cursive;
    
    margin: 5px;
}

label.checkAnimation {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 20px;
}
input[type=checkbox] {
    position: absolute;
    transform: scale(0);
}
input[type=checkbox]:checked ~ .checkbox {
    transform: rotate(45deg) scale(1.5);
    width: 10px;
    margin-left: 16px;
    border-color: #24c78e;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}
.checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 2px solid #555555;
    border-radius: 10px;
    transition: all 0.375s;
}

.labelCheckbox
{
    font-size: 20px;
    font-family: 'Handlee', cursive;
    color: #4d4d4d;
    transition: all 0.3s;
}
.labelCheckbox:hover
{
    transform: scale(1.05);
}

.botonGuardar
{
    width: 80%;
    height: 5vh;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Handlee', cursive;
    
    transition: all 0.3s ease-in-out;
}
.botonGuardar:disabled {
    color: #4d4d4d;
    cursor: not-allowed;

    transform: scale(0.99);

    
    border-radius: 10px;
    box-shadow: inset -5px 5px 10px #d9d9d9,
                inset 5px -5px 10px #ffffff;
}
.botonGuardar:enabled {
    color: #4d4d4d;
    cursor: pointer;

    transform: scale(1.05);

    box-shadow: -5px 5px 10px #d9d9d9,
                5px -5px 10px #ffffff;
}
.botonGuardar:enabled:active {
    transform: scale(0.99);
    color: #4d4d4d;
    box-shadow: inset -5px 5px 10px #d9d9d9,
                inset 5px -5px 10px #ffffff;
}